@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main: #088395;
  --primary-dark: #09637E;
  --primary: #088395;
  --primary-light: #7AB2B2;
  --bg-light: #EBF4F6;
  --accent: #7AB2B2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}