.breaker {
  margin: 0.4rem 8rem;
  padding: 0.6rem;
  border-bottom: 2px solid #7ab2b2;
  font-size: 1.4rem;
  font-weight: 700;
  /* top:60px; */
  /* margin-top: 390px; */
  /* position: relative; */
  color: #09637e;
}
